
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8"> 
<title><%= title %></title>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
<h1>Welcome to <%= title %>!</h1>
</header>
<p>Maniago, Charmagne Dale G. <br><br> A 2 <sup>nd</sup> year student of Holy Angel University</p>

<div class="bio"> Lorem ipsum and lorem, relom erf fdor</div>
<br><br>
<div class="my-previos-schools">
<p> sample from avc</p>
<p> sample from avc</p>
<p> sample from avc </p>
</div>


<footer> <p> <nbsp>Facebook</nbsp> | <nbsp>IG</nbsp> <nbsp> |   Created by: CDGM </p> </footer>
</body>
</html>